
.parent {      
    height: 100%;
}

.admin-dashboard{   
    display: flex;
    flex-flow: row wrap;   
    height: 100%;


}
.admin-sidebar
{

}
.admin-main{
flex:1;
display: flex
}

.admin-sidebar-menu .side-menubar
{
display: flex;
flex-flow: column wrap;
align-items: center
}

.side-menubar {

}
.side-menubar ul{
padding:0;
}
.side-menubar ul>li{
list-style: none;
text-align: left;
}
.admin-content
{   
    display: flex;   
   flex: 1


}
.admin-content .admin-users{
   flex:2

}

.admin-content div.crte-user
{
flex: 3
}
.crte-user-form{
    display: flex;
    flex-flow:column wrap;

}
.crte-user-form .user-form{
    display: flex;
    flex-flow:column wrap;
}
.admin-crt-user
{
    display: flex;
    flex-flow: row-reverse;
}